.some {
  text-align: right;
}



.player_class{
  display: 'table-row';
  margin-top: 7px;
  
}





.player_class > div{
  
  display: 'table-cell';
  padding: 7px 15px;
  text-align: center;
  font-size: 32px;
  
}
